<!doctype html>
<html>

<head>
  <meta charset = "utf-8">
  <meta http-equiv = "Content-Type"  content="text/html; charset=utf-8">

  <title>BioDB {{.Table}} Result</title>
</head>

<body>
  <br></br>

  <div align="center">
    <p>
      <i> <b>{{.Table}}</b></i> results of <i><b>{{.Taxon}}</b></i> found
    </p>
  <div>

  <form action="query" method="post" align="center">
      <input id="taxon" style="display:none" value="{{.Taxon}}" name="taxon">
      <input id="table" style="display:none" value="{{.Table}}" name="table">

      <input id="download" style="display:none" value="true" name="download">

      <input type="submit" value="Download"
        style="background-color: #4CAF50; border: 2px solid #e7e7e7;
        color: white; width:90px; height:27px"
      >
  </form>

</body>

</html>
