<!doctype html>
<html>

<head>
  <meta charset = "utf-8">
  <meta http-equiv = "Content-Type"  content="text/html; charset=utf-8">

  <title>BioDB {{.Table}} Result</title>
</head>

<body>
  <br></br>
  
  <div align="center">
    <p>
      <i> <b>{{.Table}}</b></i> Results of <i><b>{{.Taxon}}</b> </i>
    </p>
  <div>

  <p align="center">
    <button onclick="goBack()"> Go back </button>
  </p>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>

  <table style="text-align: left" border="1" cellpadding="4" width="80%">
    <tr >
      <th></th>
      <th>Taxon id</th>
      <th>Scientific name</th>
      <th>Taxon rank</th>
      <th>Parent id</th>
      <th>New query</th>
    <tr>

    {{range $i, $r := .Taxonlist}}
      <tr>
        <td><b>No.{{Add $i 1}}<b></td>
        <td>{{.Taxon_id}}</td>
        <td><i>{{.Scientific_name}}</i></td>
        <td>{{.Taxon_rank}}</td>

        <td>
          <a href="/query?table=Taxonomy&taxon={{.Parent_id}}">
            {{.Parent_id}}
          </a>
        </td>

        <td>
          <a href="/query?table=Subclass&taxon={{.Taxon_id}}">
            Subclass
          </a>;

          <a href="/query?table=Genome&taxon={{.Taxon_id}}">
            Genome
          </a>;

          <a href="/query?table=GO&taxon={{.Taxon_id}}">
            GO
          </a>;

          <a href="/query?table=Pathway&taxon={{.Taxon_id}}">
            Pathway
          </a>
        </td>

      </tr>
    {{end}}
  </table>


</body>
</html>
