<!--Search.html-->

<!doctype html>
<html>

<head>
  <meta charset = "utf-8">
  <meta http-equiv = "Content-Type"  content="text/html; charset=utf-8">

  <title>BioDB Web Service</title>
</head>

<body>
  <br></br>
 
  <h2 align="center">BioDB Web Service</h2>

  <form action="search" method="get" align="center">

    <p style="text-indent: 2em" align="center">
      <select id="target" name="target">
        <option value="Taxonomy"> Taxonomy </option>
        <option value="Subclass"> Subclass </option>
        <option value="Genome"> Genome </option>
        <option value="GO"> GO </option>
        <option value="Pathway"> Pathway </option>
      </select>

      <input type="search" value="" name="term" placeholder="taxonomy id ">

      <input type="submit" value="Submit" style="background-color: #4CAF50; 
        border: 2px solid #e7e7e7; color: white; width:70px; height:27px">
    </p>

  </form>

  <div align="center">
    <p><i>
      <font size="2" color="grey">
        A scientific or synonymy name is allowed for "Taxonomy" only
      </font>
    </i></p>

  </div>

  <!--HR align=center color=#987cb9 SIZE=1.5-->
  <!--footer>
    <p align="center">Author: d2jvkpn, release: 2018-12-01</p>
  <footer-->
</body>
<html>
